/*
Author: Simon Still
Date: 9/25/2024
*/

/* CSS Reset */
body, header, nav, footer, main, h1, div, img, ul{
	margin: 0;
	padding: 0;
	border: 0;
}

/*coloring & styling*/
body{
    background-color: #7f02fc;
    color: #fff;
}

a:visited{
    color: #fff;
}

a:link{
    color: #aaa;
}

hr{
    border: 1px solid black
}

nav{
    background-color: #4903fc;
    border-style: solid;
    border-color: black;
    border-top-width: 3px;
    border-bottom-width: 3px;
    font-weight: bold;
}


/*centering & sizing*/
header, nav, footer{
    text-align: center !important;
}

header{
    padding-top: 0%;
}

p{
    text-align: center;
}

main{
    text-align: center;
}

h1{
    font-size: 50px;
    font-family: fantasy, Georgia, Arial !important;
}

body{
    font-family: "Barlow";
}

header, nav{
    position: sticky;
    top: 0;
    padding: 10px 16px;
    background: #7f02fc;
    color: #f1f1f1;
}

/*float*/
.html{
    float: left;
    padding-left: 5%;
    margin-top: 1%;
    /*border: solid black 1px;*/
}

.it{
    float: left;
    padding-left: 5%;
    margin-top: 1%;
    /*border: solid black 1px;*/
}

footer{
    clear: both;
    padding-top: 5%;
}

#comingsoon{
    text-align: center;
}

/*img*/

#skibidi{
    text-align: center;
}

#skibidi img{
    border: 3px solid black;
    border-radius: 3%;
    margin: 10px 0;
}



#navbar{
    position: fixed;
    margin-left: 15px;
    font-family: helvetica;
    font-size: 15px;
}