/*
Author: Simon Still
Date: 9/25/2024
*/

/* CSS Reset */
body, header, nav, footer, main, h1, div, img, ul{
	margin: 0;
	padding: 0;
	border: 0;
}

/*coloring & styling*/
body{
    background-color: #7f02fc;
    color: #fff;
}

.gradient{
    background: linear-gradient(to top right, #7f02fc 60%, #d7c5eb);
}

a:visited{
    color: #fff;
}

a:link{
    color: #aaa;
}

hr{
    border: 1px solid black
}

nav{
    border-style: solid;
    border-color: black;
    border-top-width: 3px;
    border-bottom-width: 3px;
    font-weight: bold;
}

header, nav #navbar{
    position: sticky;
    top: 0;
}

/*centering & sizing*/
header, nav, footer{
    text-align: center !important;
}

header{
    padding-top: 0%;
}

p{
    text-align: center;
}

main{
    text-align: center;
}

h1{
    font-size: 50px;
    font-family: fantasy, Georgia, Arial !important;
}

body{
    font-family: "Barlow", Arial;
}

/*float*/
.html{
    float: left;
    padding-left: 5%;
    margin-top: 1%;
    /*border: solid black 1px;*/
}

.it{
    float: left;
    padding-left: 5%;
    margin-top: 1%;
    /*border: solid black 1px;*/
}

footer{
    clear: both;
    padding-top: 5%;
}

#comingsoon{
    text-align: center;
}

/*img*/

#skibidi{
    text-align: center;
}

#skibidi img{
    border: 3px solid black;
    border-radius: 3%;
    margin: 10px 0;
}

.hobbies img{
    padding-top: 8px;
    padding-bottom: 3px;
    border: black 3px;
}

/*Viewport for mobile devices*/
@media screen and (max-width: 1000px){
    h1{
        font-size: 12em;
    }
}